@import 'semantic-ui-css/semantic.css';
@import './colors.css';

body {
	margin: 0;
	background:rgb(54, 54, 54) !important;
}

.header-title {
	align-items:center;
	justify-content:center;
	display:flex; 
	opacity:'0.8';
}

.font-link {
	color:rgb(226, 226, 226) !important;
	font-size: 1.3rem !important;
}

.font-title {
	color:rgb(226, 226, 226) !important;
}